<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include "global/partials/head.html" %}
    
    <title>{{ page_title }} | Recipes </title>
    
</head>

<body>
    <div class="page-container">
        {% include "global/partials/top.html" %}
        {% include "global/partials/search.html" %}

        <main class="main-content-container">
            
            {% block content %}{% endblock content %}

            {% include "recipes/partials/pagination.html" %}

        </main>

    </div>
            {% include "global/partials/footer.html" %}
</body>
</html>