{% load static %}
<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>
    
    {% include "global/partials/head.html" %}
    
    <title>{{ page_title }} | Recipes </title>
    
</head>

<body>
    <div class="page-container">
        {% include "global/partials/menu.html" %}
        {% include "global/partials/top.html" %}
        {% include "global/partials/search.html" %}   

        <main class="main-content-container">
            
            {% include "global/partials/messages.html" %}

            {% block content %}{% endblock content %}

            {% include "global/partials/pagination.html" %}

        </main>

    </div>

    {% include "global/partials/footer.html" %}

    <script src="{% static "global/js/script.js" %}"></script>
</body>
</html>